<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
      <app-my-nav></app-my-nav>
      <h1>
        Weather!
      </h1>

      <p>Enter your location</p>
      <input type="text" [(ngModel)]="locationName" />
      <button (click)="addLocated(locationName)">Find</button>

      <div>
        <ul>
          <li *ngFor="let item of items">
            <span>City: {{ item.located }} </span>
            <span>
              Description:
              {{ item.weather.weather[0].description }} temperature:
              {{ item.weather.main.temp }}
            </span>
          </li>
        </ul>
      </div>
      <app-film></app-film>
    </div>
